@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Muli|Nanum+Gothic:400,700,800|Oxygen:300,400,700|Poppins:300,400,500,700|Raleway:300,400,500,700,800');

//Global settings
body {
    margin: 0;
    p {
        color: $grey;
        font-family: "helvetica";
        font-weight: 200;
        padding-bottom: 10px;
        font-size: 24px;
    }
    h2 {
        font-family: 'Oxygen', sans-serif;
        font-size: 90px;
        color: $orange;
    }
    h3 {
        color: $blue;
        font-size: 36px;
        display: inline;
        font-family: 'Poppins', sans-serif; //Raleway
        font-weight: 700;
        padding-right: 20px;
    }
    h5 {
        color: $orange;
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        font-weight: 400;
        padding-bottom: 10px;
    }
    span {
      color: $green;
      font-weight: 400;
    }
    .intro-header {
        i {
            color: $orange;
            font-size: 50px;
        }
    }
    // Universal check line style
    .checks {
        .col-12 {
            margin-bottom: 15px;
            p {
                display: inline;
                font-size: 22px;
                font-weight: 300;
            }
            i {
              color: $jungle;
              font-size: 24px;
              padding-right: 10px;
            }
            ul {
              li {
                font-size: 20px;
                padding-top: 10px;
                padding-left: 50px;
              }
            }
        }
    }
    //universal icon style
    .icons {
      .col-12 {
          margin-bottom: 30px;
          img {
              display: inline-block;
              // height: 74px;
              width: auto;
          }
          p {
              display: inline;
              font-size: 24px; // white-space:nowrap;
          }
      }
    }
    .icon-intro {
      margin-bottom: 40px;
    }
    .crossout {
      .col-12 {
        i {
          color: $red;
          font-size: 28px;
        }
      }
    }
    .v-orange {
        h3 {
            color: $orange;
        }
        h5 {
            color: $jungle;
            margin-top: 30px;
        }
        .intro-header {
            i {
                color: $blue;
                font-size: 50px;
            }
        }
        .checks {
            i {
                color: $green;
            }
        }
        span {
          color: $jungle;
        }

    }
    .v-green {
        h3 {
            color: $green;
        }
        h5 {
            color: $orange;
        }
        .intro-header {
            i {
                color: $jungle;
                font-size: 50px;
            }
        }
        span {
          color: $orange;
        }
    }
    .intro-header {
        margin-bottom: 50px;
        img {
            vertical-align: baseline;
        }
    }
    a {
        color: $orange;
        text-decoration: underline;
        text-decoration-color: $orange;

        &:hover {
            color: $green;
        } // &:visited {
        //   color: none;
        // }
    }
    ul {
        padding-left: 0;
        li {
            list-style-type: none;
            color: $grey;
            font-family: "helvetica";
            font-weight: 200;
            font-size: 20px;
        }
    }
    .inline-ul {
        li {
            display: inline-block;
        }
    }
    .btn-end {
        float: right;
        color: $grey;
        margin-top: 30px;
        font-weight: lighter;
    }
    .list {
      padding-left: 50px;
    }
    // universal table style
    table {
        border-collapse: collapse;
        width: 100%;
        th,
        td {
            border: 1px solid $light-grey;
            padding: 15px;
            font-family: "helvetica";
            font-size: 18px;
            font-weight: lighter;
        }
        th {
            background-color: $orange;
            color: white;
            padding: 8px;
            font-weight: bold;
        }
        .t-total {
            th {
                background-color: $jungle;
                font-weight: 400;
            }
        }
        .tb-background {
          background-color: rgba(169, 221, 232, 0.6);
        }
    }
    //universal order list
    .inner-list {
      .media {
        img {
          height: 24px;
        }
        .media-body {
          p {
            margin-bottom: 0;
          }
        }
      }
    }
    textarea {
      width: 100%;
    }
    .inside-row {
      padding: 0;
    }
    input[type=submit]{
      margin-top: 30px;
      background-color: white;
      color: $green;
      font-weight: lighter;
      border: 1px solid $green;
      border-radius: 4px;
      float: right;
    }
    input[type=submit]:hover {
      background-color: $green;
      color: white;
      font-weight: lighter;
      border: none;
      border-radius: 4px;
    }
    .story-image {
      float: left;
      margin-right: 30px;
      margin-bottom: 30px;
    }
    .questions {
      label {
        font-size: 24px;
        font-weight: 200;
        color: $grey;
        padding-top: 20px;
      }
      .radio-answer {
        font-size: 24px;
        font-weight: 200;
        color: $grey;
        padding-top: 0;
        padding-right: 30px;
        padding-left: 10px;
      }
      p {
        padding-bottom: 0;
      }
    }
}

.container {
    // width: 880px;
    margin-right: auto;
    margin-left: auto;
    padding: 120px 0; // padding-left: 15px;
    // padding-right: 15px;
}

.row {
    padding-left: 15px;
    padding-right: 15px;
}

header {
    min-height: 800px;
    background: transparent;
    img {
        width: 1174px;
        height: 786px; // max-width: none;
        vertical-align: middle;
    }
}

div.parallax-window {
    min-height: 230px;
    background: transparent;
    img {

        // max-width: none;
        vertical-align: middle;
    }
}

.navbar {
    .container {
        padding: 0;
    }
    padding: 10px 0;
    border: 0.5px #DADADA solid;
    background-color: white;
//    input[type=text] {
//        background-color: white;
//        background-image: url('img/search.svg');
//        background-position: 10px 10px;
//        background-repeat: no-repeat;
//        padding-left: 40px;
//    }
    form {
        // padding: 12px 0;
        input {
            height: 25px;
        }
    }
    .form-control {
        font-weight: 100;
        font-size: 15px;
    }
    ul {
        margin: 0;
        vertical-align: middle;

        a {
            padding: 5px 8px;
            font-style: "helvetica";
            font-size: 13px;
            font-weight: 100;
            text-decoration: none;
            color: $grey;
            &:hover {
                font-weight: bold;
                color: $grey;
            }
        }
        .btn-next {
            border: #979797 1px solid;
            display: inline-block;
            margin: auto;
            padding: 2px 5px; // margin: 10px 0;
            border-radius: 6px;
            &:hover {
                background-color: $grey;
                color: white;
                border: 1px solid transparent;
                font-weight: 100;
            }
        }
    }
    .input-group-text {
        background-color: transparent;
        height: 25px;
        border: 0;
    }
    .input-group > .custom-select:not(:first-child),
    .input-group > .form-control:not(:first-child) {
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
    }
}
