$red: #FF1307;
$grey: #4A4A4A;
$blue: #32C5DD;
$green: #97B306;
$orange: #FF8A57;
$jungle: #05BCB0;
$light-grey: #CFCFCF;
$light-blue: #A9DDE8



// font-family: 'Raleway', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Muli', sans-serif;
// font-family: 'Nanum Gothic', sans-serif;
// font-family: 'Oxygen', sans-serif;
// font-family: 'Indie Flower', cursive;
