@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Muli|Nanum+Gothic:400,700,800|Oxygen:300,400,700|Poppins:300,400,500,700|Raleway:300,400,500,700,800');

body {
  margin: 0;
  p {
    color: $grey;
    font-family: "helvetica";
  }
  .intro-text {
      font-size: 24px;
      font-weight: 200;
  }
  h3 {
    color: $blue;
    font-size: 36px;
    display: inline;
    font-family: 'Poppins', sans-serif;
  }
  .intro-header {
    margin-bottom: 50px;
  }
  a {
    color: inherit;
    text-decoration-color: $orange;

    &:hover {
      color: $green;
    }
    // &:visited {
    //   color: none;
    // }
  }

}

body [data-aos-duration='700'] {}

header {
    min-height: 800px;
    background: transparent;
  img{
    width: 1174px;
    height: 786px;
    // max-width: none;
    vertical-align: middle;
  }
}

#welcome {
  // text-align: center;
  padding: 150px 0;
  h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    color: $red;
    padding-bottom: 70px;
    text-align: center;
  }

  line {
    margin: 10px;
    width: 30px;
    height: 20px;
    border-bottom: 2px $grey solid;
  }
  p {
    font-size: 24px;
    font-weight: 300;
  }
  .text {
    margin-bottom: 90px;
  }
}

div.parallax-window {
  min-height: 150px;
  background: transparent;
  img{

    // max-width: none;
    vertical-align: middle;
  }
}

.container {
  width: 880px;
  margin-right: auto;
  margin-left: auto;
  // padding-left: 15px;
  // padding-right: 15px;
}

#diabetes-intro {
  padding: 120px 0;
  h3 {
    color: $blue;
    font-size: 36px;
    display: inline;
    // padding-bottom: 70px;
    font-family: 'Poppins', sans-serif;
    // font-weight: 300;
  }
  img {
    padding-left: 20px;
    position: relative;
  }
  .intro-header {
    margin-bottom: 100px;
  }
}

.diabetes-detail  {
  padding: 120px 0;
  h4 {
    color: $jungle;
    font-size: 24px;
    padding-bottom: 50px;
    font-family:'Poppins', sans-serif;
    // font-weight: 300;
  }
  .icons {
    display: flex;
    justify-content: space-around;
    text-align: center;
     p {
       width: 30%;
       font-weight: lighter;
       // padding-left: 20px;
     }
      img {
          height: 103px;
      } 
  }   
}



#prediabetes {
  padding: 120px 0;
  img {
    padding-left: 20px;
    height: 66px;
  }
  .icons {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    p {
      font-size: 18px;
      font-weight: lighter;
      padding-left: 15px;
      width: 40%;
      height: 66px;
    }
  }
  ul {
    padding-left: 0;
    font-size: 24px;
    font-family: "helvetica";
    font-weight: bold;
    color: $jungle;
    width: 650px;
    display: flex;
    justify-content: space-between;
    li {
      display: inline-block;
      list-style-type: none;
    }
  }
  b {
    color: $jungle;
  }
  .intro-text {
    &:last-child {
      padding-top: 40px;
    }
  }

}

#goals {
  padding: 120px 0;
  h3 {
    color: $blue;
  }
  img {
    padding-left: 20px;
  }
  .icons {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    p {
      font-size: 18px;
      font-weight: lighter;
      padding-left: 15px;
      width: 60%;
      margin-top: 0;
      height: 66px;
    }
    img {
      // padding-left: 20px;
      height: 30px;
    }
  }
  i {
    font-size: 30px;
    color: $green;
  }
  .icons1 {
    // margin-top: 50px;
    display: flex;
    justify-content: space-around;
    p {
      font-size: 18px;
      font-weight: lighter;
      padding-left: 15px;
      width: 60%;
      margin-top: 0;
      // height: 66px;
    }
  }
}


#benefits {
  padding: 120px 0;
  .intro-text{
    color: $green;
  }
  i {
    font-size: 20px;
    color: $blue;
  }
  .icons {
    // margin-top: 50px;
    display: flex;
    justify-content: space-between;
    p {
      font-size: 18px;
      font-weight: lighter;
      padding-left: 10px;
      width: 100%;
      margin-top: 0;
      // height: 66px;
    }
    .space-end {
      padding-right: 30px;
    }
  }
}

#end {
  padding: 120px 0;
  h3 {
    color: $jungle;
  }
  .intro-text {
    color: $orange;
    font-weight: 300;
    margin: 0;
    // padding-top: 30px;
    &:last-child {
      margin: 0 30px;
    }
  }
  .context {
      font-size: 18px;
      font-weight: lighter;
      // margin: 20px 0;
      // &:last-child {
      //   padding-bottom: 30px;
      // }
      span {
        font-weight: 400;
      }
  }
  .form {
    display: inline-block;
  }
  .space-after {
    padding-right: 10px;
  }
  .spcae-before {
    padding-left: 10px;
  }
  form {
    display: inline;
    margin:0;
    input {
    border: 0px solid #000000;
    border-bottom-width: 1px;
    background-color: transparent;
    width: 40px;
    font-size: 18px;
    color: $grey;
    text-align: center;

    }
  }
  table {
    border-collapse: collapse;
    display: inline;
    padding-left: 50px;
    th, td {
      border: 1px solid $light-grey;
      padding: 15px;
      font-family: "helvetica";
      font-size: 15px;
      font-weight: lighter;
    }
    th {
      background-color: $jungle;
      color: white;
      padding: 8px;
    }
  }

}

.modal {
  background-color: #FFF;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
  padding: 24px;
  width: 60%;
  position: relative;
  display: none;
  font-size: 18px;
  font-weight: lighter;
  p {
    margin: 5px;;
  }
  .quesion {
    font-weight: 400;
    margin-top: 30px;
    color: $green;
  }
}

.demo-close {
    display: block;
    position: absolute;
    top: -35px;
    right: 0;
    z-index: 10000;
    outline: none;
    font-size: 30px;
    line-height: 30px;
    transition: transform .3s ease-in-out;
    color: #FFF;
}

.btn-outline.btn-info {
    color: $blue;
    border-color: $blue;
}
.demo-close-btn {
    display: none;
}
.btn-outline {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 3px;
}
